<a href="https://colab.research.google.com/github/HardikxLabeitazer/DataAnalysis/blob/master/DataAnalysis4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
long_df = pd.read_csv('/content/drive/MyDrive/DataAnalysis/DT1/long_data.csv',usecols=['date','datatype','value']).rename(
    columns={'value':'temp_C'}).assign(
        date=lambda x:pd.to_datetime(x.date),temp_F=lambda x:(x.temp_C * 9/5)+32)

In [4]:
long_df.head()

  datatype       date  temp_C  temp_F
0     TMAX 2018-10-01    21.1   69.98
1     TMIN 2018-10-01     8.9   48.02
2     TOBS 2018-10-01    13.9   57.02
3     TMAX 2018-10-02    23.9   75.02
4     TMIN 2018-10-02    13.9   57.02

In [12]:
long_df.set_index('date').head(6).T

date     2018-10-01 2018-10-01 2018-10-01 2018-10-02 2018-10-02 2018-10-02
datatype       TMAX       TMIN       TOBS       TMAX       TMIN       TOBS
temp_C         21.1        8.9       13.9       23.9       13.9       17.2
temp_F        69.98      48.02      57.02      75.02      57.02      62.96

In [13]:
pivoted_df = long_df.pivot(
    index='date',columns='datatype',values='temp_C'
)
pivoted_df.head()

datatype    TMAX  TMIN  TOBS
date
2018-10-01  21.1   8.9  13.9
2018-10-02  23.9  13.9  17.2
2018-10-03  25.0  15.6  16.1
2018-10-04  22.8  11.7  11.7
2018-10-05  23.3  11.7  18.9

In [14]:
pivoted_df.describe()
#With wide data format we can easily get summary statistics whereas in long format
#in order to achieve this using filter on certain columns was the only option

datatype       TMAX       TMIN       TOBS
count     31.000000  31.000000  31.000000
mean      16.829032   7.561290  10.022581
std        5.714962   6.513252   6.596550
min        7.800000  -1.100000  -1.100000
25%       12.750000   2.500000   5.550000
50%       16.100000   6.700000   8.300000
75%       21.950000  13.600000  16.100000
max       26.700000  17.800000  21.700000

In [16]:
pivoted_df = long_df.pivot(index='date',columns='datatype',values=['temp_C','temp_F'])
pivoted_df.head()

           temp_C             temp_F
datatype     TMAX  TMIN  TOBS   TMAX   TMIN   TOBS
date
2018-10-01   21.1   8.9  13.9  69.98  48.02  57.02
2018-10-02   23.9  13.9  17.2  75.02  57.02  62.96
2018-10-03   25.0  15.6  16.1  77.00  60.08  60.98
2018-10-04   22.8  11.7  11.7  73.04  53.06  53.06
2018-10-05   23.3  11.7  18.9  73.94  53.06  66.02

In [17]:
pivoted_df['temp_F']['TMIN'].head()

date
2018-10-01    48.02
2018-10-02    57.02
2018-10-03    60.08
2018-10-04    53.06
2018-10-05    53.06
Name: TMIN, dtype: float64

In [18]:
multi_index_df = long_df.set_index(['date','datatype'])
multi_index_df.head().index

MultiIndex([('2018-10-01', 'TMAX'),
            ('2018-10-01', 'TMIN'),
            ('2018-10-01', 'TOBS'),
            ('2018-10-02', 'TMAX'),
            ('2018-10-02', 'TMIN')],
           names=['date', 'datatype'])

In [19]:
multi_index_df.head()

                     temp_C  temp_F
date       datatype
2018-10-01 TMAX        21.1   69.98
           TMIN         8.9   48.02
           TOBS        13.9   57.02
2018-10-02 TMAX        23.9   75.02
           TMIN        13.9   57.02

In [20]:
unstacked_df = multi_index_df.unstack()
unstacked_df.head()

           temp_C             temp_F
datatype     TMAX  TMIN  TOBS   TMAX   TMIN   TOBS
date
2018-10-01   21.1   8.9  13.9  69.98  48.02  57.02
2018-10-02   23.9  13.9  17.2  75.02  57.02  62.96
2018-10-03   25.0  15.6  16.1  77.00  60.08  60.98
2018-10-04   22.8  11.7  11.7  73.04  53.06  53.06
2018-10-05   23.3  11.7  18.9  73.94  53.06  66.02

In [21]:
extra_data = long_df.append([{
    'datatype':'TAVG',
    'date':'2018-10-01',
    'temp_C':10,
    'temp_F':50
}]).set_index(['date','datatype']).sort_index()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})

In [22]:
extra_data['2018-10-01':'2018-10-02']

                     temp_C  temp_F
date       datatype
2018-10-01 TAVG        10.0   50.00
           TMAX        21.1   69.98
           TMIN         8.9   48.02
           TOBS        13.9   57.02
2018-10-02 TMAX        23.9   75.02
           TMIN        13.9   57.02
           TOBS        17.2   62.96

In [23]:
extra_data.unstack().head()

           temp_C                   temp_F
datatype     TAVG  TMAX  TMIN  TOBS   TAVG   TMAX   TMIN   TOBS
date
2018-10-01   10.0  21.1   8.9  13.9   50.0  69.98  48.02  57.02
2018-10-02    NaN  23.9  13.9  17.2    NaN  75.02  57.02  62.96
2018-10-03    NaN  25.0  15.6  16.1    NaN  77.00  60.08  60.98
2018-10-04    NaN  22.8  11.7  11.7    NaN  73.04  53.06  53.06
2018-10-05    NaN  23.3  11.7  18.9    NaN  73.94  53.06  66.02

In [24]:
extra_data.unstack(fill_value=-40).head()

           temp_C                   temp_F
datatype     TAVG  TMAX  TMIN  TOBS   TAVG   TMAX   TMIN   TOBS
date
2018-10-01   10.0  21.1   8.9  13.9   50.0  69.98  48.02  57.02
2018-10-02  -40.0  23.9  13.9  17.2  -40.0  75.02  57.02  62.96
2018-10-03  -40.0  25.0  15.6  16.1  -40.0  77.00  60.08  60.98
2018-10-04  -40.0  22.8  11.7  11.7  -40.0  73.04  53.06  53.06
2018-10-05  -40.0  23.3  11.7  18.9  -40.0  73.94  53.06  66.02

In [25]:
#Melting Data

wide_df = pd.read_csv('/content/drive/MyDrive/DataAnalysis/DT1/wide_data.csv')
wide_df.head()

         date  TMAX  TMIN  TOBS
0  2018-10-01  21.1   8.9  13.9
1  2018-10-02  23.9  13.9  17.2
2  2018-10-03  25.0  15.6  16.1
3  2018-10-04  22.8  11.7  11.7
4  2018-10-05  23.3  11.7  18.9

In [26]:
melted_df = wide_df.melt(
    id_vars = 'date',value_vars=['TMAX','TMIN','TOBS'],
    value_name = 'temp_C',var_name = 'measurement'
)
melted_df.head()

         date measurement  temp_C
0  2018-10-01        TMAX    21.1
1  2018-10-02        TMAX    23.9
2  2018-10-03        TMAX    25.0
3  2018-10-04        TMAX    22.8
4  2018-10-05        TMAX    23.3

In [27]:
wide_df.set_index('date',inplace=True)
stacked_series  =wide_df.stack()
stacked_series.head()

date
2018-10-01  TMAX    21.1
            TMIN     8.9
            TOBS    13.9
2018-10-02  TMAX    23.9
            TMIN    13.9
dtype: float64

In [28]:
stacked_df = stacked_series.to_frame('values')
stacked_df.head()

                 values
date
2018-10-01 TMAX    21.1
           TMIN     8.9
           TOBS    13.9
2018-10-02 TMAX    23.9
           TMIN    13.9

In [29]:
stacked_df.head().index

MultiIndex([('2018-10-01', 'TMAX'),
            ('2018-10-01', 'TMIN'),
            ('2018-10-01', 'TOBS'),
            ('2018-10-02', 'TMAX'),
            ('2018-10-02', 'TMIN')],
           names=['date', None])

In [30]:
stacked_df.index.set_names(['date','datatype'],inplace=True)
stacked_df.index.names

FrozenList(['date', 'datatype'])

In [31]:
df = pd.read_csv('/content/drive/MyDrive/DataAnalysis/DT1/dirty_data.csv')
df.head()

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
0,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
1,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
2,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
3,2018-01-02T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-8.3,-16.1,-12.2,NaN,False
4,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False

In [32]:
df.describe()

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:4009: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)

,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF
count,765.000000,577.000000,577.0,765.000000,765.000000,398.000000,11.000000
mean,5.360392,4.202773,NaN,2649.175294,-15.914379,8.632161,16.290909
std,10.002138,25.086077,NaN,2744.156281,24.242849,9.815054,9.489832
min,0.000000,0.000000,-inf,-11.700000,-40.000000,-16.100000,1.800000
25%,0.000000,0.000000,NaN,13.300000,-40.000000,0.150000,8.600000
50%,0.000000,0.000000,NaN,32.800000,-11.100000,8.300000,19.300000
75%,5.800000,0.000000,NaN,5505.000000,6.700000,18.300000,24.900000
max,61.700000,229.000000,inf,5505.000000,23.900000,26.100000,28.700000

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765 entries, 0 to 764
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               765 non-null    object
 1   station            765 non-null    object
 2   PRCP               765 non-null    float64
 3   SNOW               577 non-null    float64
 4   SNWD               577 non-null    float64
 5   TMAX               765 non-null    float64
 6   TMIN               765 non-null    float64
 7   TOBS               398 non-null    float64
 8   WESF               11 non-null     float64
 9   inclement_weather  408 non-null    object
dtypes: float64(7), object(3)
memory usage: 59.9+ KB

In [34]:
contain_nulls  = df[df.SNOW.isna() | df.SNWD.isna() | df.TOBS.isna() | df.WESF.isna() | df.inclement_weather.isna()]

In [35]:
contain_nulls.shape[0]

765

In [36]:
contain_nulls.head(10)

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
0,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
1,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
2,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
3,2018-01-02T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-8.3,-16.1,-12.2,NaN,False
4,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
5,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
6,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
7,2018-01-04T00:00:00,?,20.6,229.0,inf,5505.0,-40.0,NaN,19.3,True
8,2018-01-04T00:00:00,?,20.6,229.0,inf,5505.0,-40.0,NaN,19.3,True
9,2018-01-05T00:00:00,?,0.3,NaN,NaN,5505.0,-40.0,NaN,NaN,NaN

In [39]:
df[df.inclement_weather=='NaN'].shape[0] #doesnt work

0

In [38]:
df[df.inclement_weather==np.nan].shape[0] #doesnt work

0

In [40]:
df[df.inclement_weather.isna()].shape[0]

357

In [41]:
df[df.SNWD.isin([-np.inf,np.inf])].shape[0]

577

In [42]:
def get_int_count(df):
  return{
      col:df[
             df[col].isin([np.inf,-np.inf])
      ].shape[0] for col in df.columns
  }

In [43]:
get_int_count(df)

{'PRCP': 0,
 'SNOW': 0,
 'SNWD': 577,
 'TMAX': 0,
 'TMIN': 0,
 'TOBS': 0,
 'WESF': 0,
 'date': 0,
 'inclement_weather': 0,
 'station': 0}

In [44]:
pd.DataFrame({
    'np.inf Snow Depth':df[df.SNWD==np.inf].SNOW.describe(),
    '-np.inf Snow Depth':df[df.SNWD ==-np.inf].SNOW.describe()
}).T

,count,mean,std,min,25%,50%,75%,max
np.inf Snow Depth,24.0,101.041667,74.498018,13.0,25.0,120.5,152.0,229.0
-np.inf Snow Depth,553.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0

In [45]:
df.describe(include='object')

                       date            station inclement_weather
count                   765                765               408
unique                  324                  2                 2
top     2018-07-05T00:00:00  GHCND:USC00280907             False
freq                      8                398               384

In [46]:
df[df.duplicated()].shape[0]

284

In [50]:
df[df.duplicated(keep=False)].shape[0]

482

In [51]:
df[df.duplicated(['date','station'])].shape[0]

284

In [52]:
df[df.duplicated()].head()

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
1,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
2,2018-01-01T00:00:00,?,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
5,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
6,2018-01-03T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,-4.4,-13.9,-13.3,NaN,False
8,2018-01-04T00:00:00,?,20.6,229.0,inf,5505.0,-40.0,NaN,19.3,True

In [53]:
df[df.WESF.notna()].station.unique()

array(['?'], dtype=object)

In [54]:
df.date = pd.to_datetime(df.date)

In [55]:
station_qm_wesf = df[df.station=='?'].drop_duplicates('date').set_index('date').WESF

In [56]:
station_qm_wesf

date
2018-01-01     NaN
2018-01-04    19.3
2018-01-05     NaN
2018-01-07     NaN
2018-01-08     NaN
              ...
2018-12-27     NaN
2018-12-28     NaN
2018-12-29     NaN
2018-12-30     NaN
2018-12-31     NaN
Name: WESF, Length: 232, dtype: float64

In [57]:
df.sort_values('station',ascending=False,inplace=True)

In [58]:
df_deduped = df.drop_duplicates('date')

In [59]:
df_deduped = df_deduped.drop(columns='station').set_index('date').sort_index()

In [60]:
df_deduped = df_deduped.assign(WESF=lambda x:x.WESF.combine_first(station_qm_wesf))

In [61]:
df_deduped.shape

(324, 8)

In [62]:
df_deduped.head()

            PRCP   SNOW  SNWD    TMAX  TMIN  TOBS  WESF inclement_weather
date
2018-01-01   0.0    0.0  -inf  5505.0 -40.0   NaN   NaN               NaN
2018-01-02   0.0    0.0  -inf    -8.3 -16.1 -12.2   NaN             False
2018-01-03   0.0    0.0  -inf    -4.4 -13.9 -13.3   NaN             False
2018-01-04  20.6  229.0   inf  5505.0 -40.0   NaN  19.3              True
2018-01-05  14.2  127.0   inf    -4.4 -13.9 -13.9   NaN              True

In [63]:
df_deduped.dropna().shape

(4, 8)

In [64]:
df_deduped.dropna(how='all').shape

(324, 8)

In [65]:
df_deduped.dropna(
    how='all',subset=['inclement_weather','SNOW','SNWD']
).shape

(293, 8)

In [67]:
df_deduped.dropna(
    axis='columns',
    thresh=df_deduped.shape[0] * .75
).columns

Index(['PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN', 'TOBS', 'inclement_weather'], dtype='object')

In [68]:
df_deduped.loc[:,'WESF'].fillna(0,inplace=True)
df_deduped.head()

            PRCP   SNOW  SNWD    TMAX  TMIN  TOBS  WESF inclement_weather
date
2018-01-01   0.0    0.0  -inf  5505.0 -40.0   NaN   0.0               NaN
2018-01-02   0.0    0.0  -inf    -8.3 -16.1 -12.2   0.0             False
2018-01-03   0.0    0.0  -inf    -4.4 -13.9 -13.3   0.0             False
2018-01-04  20.6  229.0   inf  5505.0 -40.0   NaN  19.3              True
2018-01-05  14.2  127.0   inf    -4.4 -13.9 -13.9   0.0              True

In [69]:
df_deduped = df_deduped.assign(
    TMAX = lambda x : x.TMAX.replace(5505,np.nan),
    TMIN = lambda x:x.TMIN.replace(-40,np.nan)
)

In [70]:
df_deduped.assign(
    TMAX = lambda x:x.TMAX.fillna(method='ffill'),
    TMIN = lambda x:x.TMIN.fillna(method='ffill')
).head()

            PRCP   SNOW  SNWD  TMAX  TMIN  TOBS  WESF inclement_weather
date
2018-01-01   0.0    0.0  -inf   NaN   NaN   NaN   0.0               NaN
2018-01-02   0.0    0.0  -inf  -8.3 -16.1 -12.2   0.0             False
2018-01-03   0.0    0.0  -inf  -4.4 -13.9 -13.3   0.0             False
2018-01-04  20.6  229.0   inf  -4.4 -13.9   NaN  19.3              True
2018-01-05  14.2  127.0   inf  -4.4 -13.9 -13.9   0.0              True

In [71]:
df_deduped.assign(
    SNWD = lambda x:np.nan_to_num(x.SNWD)
).head()

,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
date,,,,,,,,
2018-01-01,0.0,0.0,-1.797693e+308,NaN,NaN,NaN,0.0,NaN
2018-01-02,0.0,0.0,-1.797693e+308,-8.3,-16.1,-12.2,0.0,False
2018-01-03,0.0,0.0,-1.797693e+308,-4.4,-13.9,-13.3,0.0,False
2018-01-04,20.6,229.0,1.797693e+308,NaN,NaN,NaN,19.3,True
2018-01-05,14.2,127.0,1.797693e+308,-4.4,-13.9,-13.9,0.0,True

In [72]:
df_deduped.assign(
    SNWD = lambda x:x.SNWD.clip(0,x.SNOW)
).head()

            PRCP   SNOW   SNWD  TMAX  TMIN  TOBS  WESF inclement_weather
date
2018-01-01   0.0    0.0    0.0   NaN   NaN   NaN   0.0               NaN
2018-01-02   0.0    0.0    0.0  -8.3 -16.1 -12.2   0.0             False
2018-01-03   0.0    0.0    0.0  -4.4 -13.9 -13.3   0.0             False
2018-01-04  20.6  229.0  229.0   NaN   NaN   NaN  19.3              True
2018-01-05  14.2  127.0  127.0  -4.4 -13.9 -13.9   0.0              True

In [73]:
df_deduped.assign(
    TMAX = lambda x:x.TMAX.fillna(x.TMAX.median()),
    TMIN = lambda x:x.TMIN.fillna(x.TMIN.median()),
    TOBS = lambda x:x.TOBS.fillna((x.TMAX + x.TMIN)/2)
).head()

            PRCP   SNOW  SNWD  TMAX  TMIN  TOBS  WESF inclement_weather
date
2018-01-01   0.0    0.0  -inf  14.4   5.6  10.0   0.0               NaN
2018-01-02   0.0    0.0  -inf  -8.3 -16.1 -12.2   0.0             False
2018-01-03   0.0    0.0  -inf  -4.4 -13.9 -13.3   0.0             False
2018-01-04  20.6  229.0   inf  14.4   5.6  10.0  19.3              True
2018-01-05  14.2  127.0   inf  -4.4 -13.9 -13.9   0.0              True

In [74]:
df_deduped.apply(lambda x:x.fillna(x.rolling(7,min_periods=0).median())).head()

            PRCP   SNOW  SNWD  TMAX  TMIN   TOBS  WESF inclement_weather
date
2018-01-01   0.0    0.0  -inf   NaN   NaN    NaN   0.0               NaN
2018-01-02   0.0    0.0  -inf -8.30 -16.1 -12.20   0.0             False
2018-01-03   0.0    0.0  -inf -4.40 -13.9 -13.30   0.0             False
2018-01-04  20.6  229.0   inf -6.35 -15.0 -12.75  19.3              True
2018-01-05  14.2  127.0   inf -4.40 -13.9 -13.90   0.0              True

In [75]:
df_deduped.reindex(
    pd.date_range('2018-01-01','2018-12-31',freq='D')
).apply(lambda x:x.interpolate()).head(10)

            PRCP   SNOW  SNWD  TMAX   TMIN   TOBS  WESF inclement_weather
2018-01-01   0.0    0.0  -inf   NaN    NaN    NaN   0.0               NaN
2018-01-02   0.0    0.0  -inf  -8.3 -16.10 -12.20   0.0             False
2018-01-03   0.0    0.0  -inf  -4.4 -13.90 -13.30   0.0             False
2018-01-04  20.6  229.0   inf  -4.4 -13.90 -13.60  19.3              True
2018-01-05  14.2  127.0   inf  -4.4 -13.90 -13.90   0.0              True
2018-01-06   0.0    0.0  -inf -10.0 -15.60 -15.00   0.0             False
2018-01-07   0.0    0.0  -inf -11.7 -17.20 -16.10   0.0             False
2018-01-08   0.0    0.0  -inf  -7.8 -16.70  -8.30   0.0             False
2018-01-09   0.0    0.0  -inf  -1.4 -12.25  -8.05   0.0               NaN
2018-01-10   0.0    0.0  -inf   5.0  -7.80  -7.80   0.0             False