<a href="https://colab.research.google.com/github/HardikxLabeitazer/DataAnalysis/blob/master/DataAnalysis2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np
import pandas as pd

In [11]:
df = pd.read_csv('/content/drive/MyDrive/DataAnalysis/DT1/nyc_temperatures.csv')
df.head()

                  date datatype            station attributes  value
0  2018-10-01T00:00:00     TAVG  GHCND:USW00014732      H,,S,   21.2
1  2018-10-01T00:00:00     TMAX  GHCND:USW00014732   ,,W,2400   25.6
2  2018-10-01T00:00:00     TMIN  GHCND:USW00014732   ,,W,2400   18.3
3  2018-10-02T00:00:00     TAVG  GHCND:USW00014732      H,,S,   22.7
4  2018-10-02T00:00:00     TMAX  GHCND:USW00014732   ,,W,2400   26.1

RENAMING COLUMNS

In [12]:
df.columns

Index(['date', 'datatype', 'station', 'attributes', 'value'], dtype='object')

In [13]:
df.rename(
    columns={'value':'temp_C','attributes':'flags'},inplace=True
)
df.columns

Index(['date', 'datatype', 'station', 'flags', 'temp_C'], dtype='object')

In [14]:
df.rename(str.upper,axis='columns').columns

Index(['DATE', 'DATATYPE', 'STATION', 'FLAGS', 'TEMP_C'], dtype='object')

TYPE CONVERSION

In [15]:
#Type Conversion
df.dtypes #type of data they hold

date         object
datatype     object
station      object
flags        object
temp_C      float64
dtype: object

In [16]:
df.loc[:,'date']=pd.to_datetime(df.date)
df.dtypes

date        datetime64[ns]
datatype            object
station             object
flags               object
temp_C             float64
dtype: object

In [17]:
df.date.describe(datetime_is_numeric=True)

count                     93
mean     2018-10-16 00:00:00
min      2018-10-01 00:00:00
25%      2018-10-08 00:00:00
50%      2018-10-16 00:00:00
75%      2018-10-24 00:00:00
max      2018-10-31 00:00:00
Name: date, dtype: object

In [18]:
pd.date_range(start='2018-10-25',periods=2,freq='D').tz_localize('EST')

DatetimeIndex(['2018-10-25 00:00:00-05:00', '2018-10-26 00:00:00-05:00'], dtype='datetime64[ns, EST]', freq=None)

In [19]:
eastern = pd.read_csv('/content/drive/MyDrive/DataAnalysis/DT1/nyc_temperatures.csv',index_col='date',parse_dates=True).tz_localize('EST')

In [20]:
eastern.head()

                          datatype            station attributes  value
date
2018-10-01 00:00:00-05:00     TAVG  GHCND:USW00014732      H,,S,   21.2
2018-10-01 00:00:00-05:00     TMAX  GHCND:USW00014732   ,,W,2400   25.6
2018-10-01 00:00:00-05:00     TMIN  GHCND:USW00014732   ,,W,2400   18.3
2018-10-02 00:00:00-05:00     TAVG  GHCND:USW00014732      H,,S,   22.7
2018-10-02 00:00:00-05:00     TMAX  GHCND:USW00014732   ,,W,2400   26.1

In [21]:
eastern.tz_convert('UTC').head() #changing Time Zone

                          datatype            station attributes  value
date
2018-10-01 05:00:00+00:00     TAVG  GHCND:USW00014732      H,,S,   21.2
2018-10-01 05:00:00+00:00     TMAX  GHCND:USW00014732   ,,W,2400   25.6
2018-10-01 05:00:00+00:00     TMIN  GHCND:USW00014732   ,,W,2400   18.3
2018-10-02 05:00:00+00:00     TAVG  GHCND:USW00014732      H,,S,   22.7
2018-10-02 05:00:00+00:00     TMAX  GHCND:USW00014732   ,,W,2400   26.1

In [22]:
eastern.tz_localize(None).to_period('M').index

PeriodIndex(['2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10', '2018-10', '2018-10', '2018-10',
             '2018-10', '2018-10', '2018-10'],
            dtype='period[M]', name='date')

In [24]:
eastern.tz_localize(None).to_period('M').to_timestamp().index

DatetimeIndex(['2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01', '2018-10-01', '2018-10-01', '2018-10-01',
               '2018-10-01'],
              dtype='datetime64[ns]', name='date', freq=None)

In [25]:
df = pd.read_csv('/content/drive/MyDrive/DataAnalysis/DT1/nyc_temperatures.csv').rename(
    columns={'value':'temp_C','attributes':'flags'}
)

In [27]:
new_df = df.assign(
    date = pd.to_datetime(df.date),
    temp_F = (df.temp_C * 9/5)+32
)
new_df.head()

        date datatype            station     flags  temp_C  temp_F
0 2018-10-01     TAVG  GHCND:USW00014732     H,,S,    21.2   70.16
1 2018-10-01     TMAX  GHCND:USW00014732  ,,W,2400    25.6   78.08
2 2018-10-01     TMIN  GHCND:USW00014732  ,,W,2400    18.3   64.94
3 2018-10-02     TAVG  GHCND:USW00014732     H,,S,    22.7   72.86
4 2018-10-02     TMAX  GHCND:USW00014732  ,,W,2400    26.1   78.98

In [28]:
new_df.dtypes

date        datetime64[ns]
datatype            object
station             object
flags               object
temp_C             float64
temp_F             float64
dtype: object

In [29]:
df = df.assign(
    date = lambda x:pd.to_datetime(x.date),
    temp_C_whole = lambda x:x.temp_C.astype('int'),
    temp_F = lambda x:(x.temp_C * 9/5)+32,
    temp_F_whole = lambda x:x.temp_F.astype('int')
)
df.head()

,date,datatype,station,flags,temp_C,temp_C_whole,temp_F,temp_F_whole
0,2018-10-01,TAVG,GHCND:USW00014732,"H,,S,",21.2,21,70.16,70
1,2018-10-01,TMAX,GHCND:USW00014732,",,W,2400",25.6,25,78.08,78
2,2018-10-01,TMIN,GHCND:USW00014732,",,W,2400",18.3,18,64.94,64
3,2018-10-02,TAVG,GHCND:USW00014732,"H,,S,",22.7,22,72.86,72
4,2018-10-02,TMAX,GHCND:USW00014732,",,W,2400",26.1,26,78.98,78

In [31]:
df_dummies = pd.get_dummies(df)
df_dummies.head()

,date,temp_C,temp_C_whole,temp_F,temp_F_whole,datatype_TAVG,datatype_TMAX,datatype_TMIN,station_GHCND:USW00014732,"flags_,,W,2400","flags_H,,S,"
0,2018-10-01,21.2,21,70.16,70,1,0,0,1,0,1
1,2018-10-01,25.6,25,78.08,78,0,1,0,1,1,0
2,2018-10-01,18.3,18,64.94,64,0,0,1,1,1,0
3,2018-10-02,22.7,22,72.86,72,1,0,0,1,0,1
4,2018-10-02,26.1,26,78.98,78,0,1,0,1,1,0

In [32]:
df_with_categories = df.assign(
    station = df.station.astype('category'),
    datatype = df.datatype.astype('category')
)
df_with_categories.dtypes

date            datetime64[ns]
datatype              category
station               category
flags                   object
temp_C                 float64
temp_C_whole             int64
temp_F                 float64
temp_F_whole             int64
dtype: object

In [34]:
df_with_categories.describe(include='category')

       datatype            station
count        93                 93
unique        3                  1
top        TAVG  GHCND:USW00014732
freq         31                 93

In [35]:
pd.Categorical(
    ['med','med','low','high'],
    categories=['low','med','high'],
    ordered=True
)

['med', 'med', 'low', 'high']
Categories (3, object): ['low' < 'med' < 'high']

REORDERING REINDEXING AND SORTING DATA

In [36]:
df[df.datatype=='TMAX'].sort_values(by='temp_C',ascending=False).head(10)

,date,datatype,station,flags,temp_C,temp_C_whole,temp_F,temp_F_whole
19,2018-10-07,TMAX,GHCND:USW00014732,",,W,2400",27.8,27,82.04,82
28,2018-10-10,TMAX,GHCND:USW00014732,",,W,2400",27.8,27,82.04,82
31,2018-10-11,TMAX,GHCND:USW00014732,",,W,2400",26.7,26,80.06,80
10,2018-10-04,TMAX,GHCND:USW00014732,",,W,2400",26.1,26,78.98,78
4,2018-10-02,TMAX,GHCND:USW00014732,",,W,2400",26.1,26,78.98,78
1,2018-10-01,TMAX,GHCND:USW00014732,",,W,2400",25.6,25,78.08,78
25,2018-10-09,TMAX,GHCND:USW00014732,",,W,2400",25.6,25,78.08,78
7,2018-10-03,TMAX,GHCND:USW00014732,",,W,2400",25.0,25,77.00,77
13,2018-10-05,TMAX,GHCND:USW00014732,",,W,2400",22.8,22,73.04,73
22,2018-10-08,TMAX,GHCND:USW00014732,",,W,2400",22.8,22,73.04,73

In [37]:
df[df.datatype=='TMAX'].sort_values(
    by=['temp_C','date'],ascending=[False,True]
).head(10)

,date,datatype,station,flags,temp_C,temp_C_whole,temp_F,temp_F_whole
19,2018-10-07,TMAX,GHCND:USW00014732,",,W,2400",27.8,27,82.04,82
28,2018-10-10,TMAX,GHCND:USW00014732,",,W,2400",27.8,27,82.04,82
31,2018-10-11,TMAX,GHCND:USW00014732,",,W,2400",26.7,26,80.06,80
4,2018-10-02,TMAX,GHCND:USW00014732,",,W,2400",26.1,26,78.98,78
10,2018-10-04,TMAX,GHCND:USW00014732,",,W,2400",26.1,26,78.98,78
1,2018-10-01,TMAX,GHCND:USW00014732,",,W,2400",25.6,25,78.08,78
25,2018-10-09,TMAX,GHCND:USW00014732,",,W,2400",25.6,25,78.08,78
7,2018-10-03,TMAX,GHCND:USW00014732,",,W,2400",25.0,25,77.00,77
13,2018-10-05,TMAX,GHCND:USW00014732,",,W,2400",22.8,22,73.04,73
22,2018-10-08,TMAX,GHCND:USW00014732,",,W,2400",22.8,22,73.04,73

In [38]:
df[df.datatype=='TAVG'].nlargest(n=10,columns='temp_C')

,date,datatype,station,flags,temp_C,temp_C_whole,temp_F,temp_F_whole
27,2018-10-10,TAVG,GHCND:USW00014732,"H,,S,",23.8,23,74.84,74
30,2018-10-11,TAVG,GHCND:USW00014732,"H,,S,",23.4,23,74.12,74
18,2018-10-07,TAVG,GHCND:USW00014732,"H,,S,",22.8,22,73.04,73
3,2018-10-02,TAVG,GHCND:USW00014732,"H,,S,",22.7,22,72.86,72
6,2018-10-03,TAVG,GHCND:USW00014732,"H,,S,",21.8,21,71.24,71
24,2018-10-09,TAVG,GHCND:USW00014732,"H,,S,",21.8,21,71.24,71
9,2018-10-04,TAVG,GHCND:USW00014732,"H,,S,",21.3,21,70.34,70
0,2018-10-01,TAVG,GHCND:USW00014732,"H,,S,",21.2,21,70.16,70
21,2018-10-08,TAVG,GHCND:USW00014732,"H,,S,",20.9,20,69.62,69
12,2018-10-05,TAVG,GHCND:USW00014732,"H,,S,",20.3,20,68.54,68